body {
    margin: 0;
    padding: 0;
    background: #e5ebf2;
    //-webkit-user-select: none; /* Safari */
    //user-select: none;
}

a {
    text-decoration: none;
}

.layout-container-app{
    height: 100vh;
}

.q-drawer.q-drawer--left{
    .q-item__label--caption{
        color: #d0d0d0;
    }
}

.bg-primary{
    background-color: #2a3643 !important;
}
.bg-warning{
    background-color: #f7e3aa!important;
}

.bg-info{
    background-color: #3b4257 !important;
}

.primary, .text-primary{
    color: #1c3947!important;
}

a{
    color: #fff;
}

.client-dialog{
    .col{
        width: 100%;
    }
}

.file_block{
    border-radius: 3px;
}

//.q-table{
//    tbody tr{
//        background: #ffffff;
//        &:nth-child(2n){
//            background: #fcfaff;
//        }
//    }
//}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

.q-card{
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}

//.q-field--outlined .q-field__control{
//    background-color: #f2f8fb;
//}

.text-overline{
    letter-spacing: .8px!important;
}

.q-field__after{
    margin-top: 6px;
}

#desktopAuth{
    display: block;
}
#mobileAuth{
    display: none;
}

@media (max-width: 600px) {
    #desktopAuth{
        display: none!important;
    }

    #mobileAuth{
        display: block!important;
    }

    #loginPage{
        align-items: flex-start!important;
        padding-top: 10%;
    }
}



#preorder_booking{
    width: 100%;
}


.q-page-container.active{
    opacity: .7;
    pointer-events: none;
    filter: blur(1px);
}

.router-link-exact-active .q-item{
    background: rgba(255,255,255,.1);
}

.q-tab{
    background: #e8ecf1;
    &.q-tab--inactive{
        background: #f6f9fd;
    }
}

.q-expansion-item__content {
    .q-item {
        min-height: 30px !important;
    }
}

.kap_detail_block{
    td{
        padding: 20px;
    }
}

.login_layout{
    background-color: rgba(#455a64, 1)!important;
}
//
//#loginPage .column{
//    z-index: 10;
//}
//#loginPage:after{
//    content: '';
//    display: block;
//    width: 100%;
//    height: 100vh;
//    position: fixed;
//    top: 0;
//    left: 0;
//    background-repeat: no-repeat;
//    background-size: cover;
//    background-position: 0 -70px;
//    z-index: 0;
//    opacity: .01;
//    background-image: url('../img/login_back.jpeg');
//}

.q-notification{
    max-width: 510px;
    .q-notification__caption{
        font-size: 1em;
        opacity: .85;
    }
}

.q-stepper--horizontal .q-stepper__step-inner{
    padding: 14px 24px!important;
}
